<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
</head>
<body>
   <div class="container">
       <div class="row">
        {% for post in posts %}
        <div class="col-md-5 offset-md-4">
            <div class="card mt-2">
                <div class="card-header d-flex  ">
                    
                        <img src="{{post.user.picture}}" width="70px" alt="" class="rounded-circle">
                   
                    <h2 class="align-self-center m-1 mt-0 ">{{post.user.name}}</h2>
                    
                </div>
               
                <div class="card-body">
                    <img src="{{post.media}}" class="img img-responsive" width="100%" alt="" srcset="">
                </div>
                <div class="card-footer">
                    <h3>{{post.title}}</h3>
                    {{post.timestamp}}
                </div>
            </div>
        </div>
        
    {% endfor %}
       </div>
   </div>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</html>